* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header,
section,
footer {
    padding: 2rem;
}

html {
    scroll-behavior: smooth;
}

/* Button */
.btn {
    background-color: #c83264;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.5rem;
    margin: 1rem;
}

/* Header */

header {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    position: sticky;
    top: 0;
}

.nav-active {
    background: #fff;
    color: #333;
}

.nav-active a,
.nav-active span {
    color: #333;
}

#mob_button {
    display: none;
}

.logo {
    flex: 1;
}

ul {
    display: flex;
    list-style-type: none;
    flex: 3;
}

a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0.5rem;
}

.a:hover,
li:hover { transform: scale(1.1); 
}



section {
    min-height: 50vh;
    scroll-margin-top: 5rem;
}

header,
.first-section {
    background-color: rgb(80, 70, 162);
}
.first-section {
    flex-direction: column;
}
.second-section {
    background-color: rgb(118, 2, 67);
}
.third-section {
    background-color: rgb(218, 212, 31);
}
.fourth-section {
    background-color: rgb(255, 22, 49);
}

.model-example {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin: 4rem;
    padding: 1rem;
    background-color: #ffffff;
}

.model-example span {
    display: flex;
    justify-content: end;
    padding: 0 1rem 1rem;
}



/* Model */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
}

.model-example {
    background: white;
    min-height: 50vh;
    width: 50vw;
    border-radius: 0.3rem;
    color: #333;
    padding: 3rem;
    box-shadow: 0 0 15px;
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.overlay,
.model-example,
#close {
    display: none;
}

/* Footer */

#backToTop {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

/* Mobile */

@media (max-width: 800px) {
    body {
        font-size: smal;
    }
    nav ul {
        display: none;
    }

    #mob_button {
        background-color: transparent;
        display: block;
        border: none;
        color: white;
        padding: 1rem;
    }

    nav.responsive ul {
        background-color: white;
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 85px;
    }

    nav.responsive ul li {
        display: block;
    }

    nav.responsive ul li a {
        color: #333;
        width: 100%;
        font-size: 18px;
        padding-left: 40px;
    }
}





.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }